/* Imported CSS */
@import url(partials/_variables.css);
@import url(partials/_fonts.css);
@import url(partials/_global.css);
/* Imported CSS */

@media screen and (max-width: 1220px){
	body{
		overflow: auto;
		position: relative;
	}

	.countdown-area{
		margin-top: 7.5rem;
	}
}


@media screen and (max-width: 875px) {
	header{
		padding: 1.5rem;
	}

	/* .nav-inner{
		padding: 0 2rem;
	} */

	.backdrop{
		width: 100%;
		height: 100%;
		background: var(--overlay);
		/* opacity: .75; */
		position: absolute;
		left: 0;
		top: 0;
		z-index: 5;
	}

	.backdrop.active{
		display: block;
	}

	.nav-list{
		position: fixed;
		top: 20rem;
		left: 30%;
		background: var(--white);
		box-shadow: var(--boxshadow);
		width: 30rem;
		border-radius: 1rem;
		/* visibility: hidden; */
		transform: scale(0);
		transition: transform .4s ease;
	}

	.nav-list.active{
		/* visibility: visible; */
		transform: scale(1);
	}

	.nav-list ul{
		display: flex;
  		justify-content: center;
  		align-items: flex-start;
		flex-direction: column;
	}

	.nav-list ul li{
		line-height: 3rem;
		padding: 1rem 2rem;
		border-bottom: 1.5px solid var(--fadeWhite);
		width: 100%;
		height: 100%;
	}

	.nav-list ul li:hover{
		background: var(--fadeWhite);
	}

	.nav-list ul li:first-child{
		border-radius: 1rem 1rem 0 0;
	}

	.nav-list ul li:last-child{
		border-bottom: none;
		border-radius: 0 0 1rem 1rem;
	}

	.nav-list ul li a{
		text-transform: uppercase;
		height: 100%;
	}

	.nav-list ul li a::after{
		display: none;
	}

	.menu-btn{
		position: relative;
    	height: 50%;
		cursor: pointer;
		transform: scale(1.25);
		transition: all .4s ease;
	}

	.menu-btn .menu-bar{
		position: absolute;
		display: block;
		width: 1.5rem;
		height: .2rem;
		background: var(--primary);
		position: relative;
		transition: all .4s ease;
	  }

	.menu-btn .menu-bar::before , .menu-btn .menu-bar::after{
		content: "";
		position: absolute;
		background: var(--primary);
		height: .2rem;
		right: 0;
		transition: all .4s ease;
	}

	.menu-btn .menu-bar::before{
		width: 2rem;
		top: -0.6rem;
	}

	.menu-btn .menu-bar::after{
		width: 1rem;
		bottom: -0.6rem;
	}

	.menu-btn.active{
		transform: scale(1) translateY(0.5rem);
		transition: all .4s ease;
	}

	.menu-btn.active .menu-bar{
		background: transparent;
		transition: all .2s ease;
	}

	.menu-btn.active .menu-bar::before{
		transform: rotate(-45deg);
		width: 2.25rem;
		transition: all .4s ease;
	}

	.menu-btn.active .menu-bar::after{
		transform: rotate(45deg) translate(-0.8rem, -0.9rem);
		width: 2.25rem;
		transition: all .4s ease;
	}

	.countdown-area{
		margin-top: 6rem;
	}

	footer{
		margin-top: 3rem;
	}

}

@media screen and (max-width: 760px){
	.container{
		padding: 0 2.5rem;
	}
}

@media screen and (max-width: 710px){
	footer .img-element {
		display: none;
	  }
}

@media screen and (max-width: 660px){
	.nav-inner .nav-brand img{
		width: 14rem;
		min-width: 14rem;
		max-width: 14rem;
	  }

	.countdown-area{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
	  }

	.countdown-area .count-box{
		width: 10rem;
		height: 12rem;
		margin: 1rem;
	  }
	  
	  .countdown-area .count-box h3{
		font: normal normal 3.5rem/6rem var(--helveticaBold);
	  }
	  
	  .countdown-area .count-box span{
		font: normal normal 1.2rem var(--helvetica);
	  }

	footer{
		padding: 6.25rem 0;
	}
}

@media screen and (max-width: 560px){
	.nav-inner{
		padding: 0 .75rem;
	}

	.nav-list{
		left: 20%;
	}

	footer{
		padding: 3rem 2rem;
	}
}

@media screen and (max-width: 465px){
	.nav-inner{
		padding: 0 .5rem;
	}

	.nav-list{
		left: 15%;
	}

	.hero-inner{
		padding: 6.5rem 4rem;
	}
	
	footer{
		padding: 2rem;
	}
}


@media screen and (max-width: 380px){
	.nav-inner{
		padding: 0 .25rem;
	}

	.nav-list{
		left: 10%;
		/* width: 26.5rem; */
	}

	.hero-inner{
		padding: 5rem 2.5rem;
	  }

	.hero-inner .info-area{
		max-width: 40rem;
	  }
	  
	  .hero-inner .info-area h1{
		font: normal bold 4rem/5rem var(--helveticaBold);
		margin-bottom: 2rem;
	  }
	  
	  .hero-inner .info-area p{
		line-height: 2.25rem;
		max-width: 45rem;
	  }
}

@media screen and (max-width: 360px){
	.nav-inner{
		padding: 0 .25rem;
	}

	.nav-list{
		left: 10%;
		width: 26.5rem;
	}

	footer{
		padding: 7rem 0;
	}
}

@media screen and (max-width: 340px){
	.nav-inner{
		padding: 0 0.25rem;
	}

	.nav-list{
		left: 10%;
		width: 26.5rem;
	}
}

@media screen and (max-width: 330px){
	.nav-inner{
		padding: 0 0.25rem;
	}

	.nav-list{
		left: 7.5%;
		width: 26.5rem;
	}
}